.contenedor {
    display: flex;
    justify-content: center;
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;


    /* Distribuye los elementos uniformemente en la fila */
}

.episodes {
    width: calc(40% - 10px);
    /* Establece el ancho de cada episodio */
    margin-bottom: 20px;
    /* Espacio entre cada fila */
    box-sizing: border-box;
}

.EpisodeName {
    margin: 0;
    font-size: 18px;
    color: greenyellow
}

.EpisodeDate {
    color: whitesmoke;
}

.contenedorLoc {
    display: flex;
    width: 850px;
    padding-left: 80px;
    flex-direction: row;
}
.locations{
    padding-bottom: 10px;
    width: 250px;
    
}

.LocationName {

    margin-bottom: 20px;
    box-sizing: border-box;
    margin: 0;
    font-size: 25px;
    color: greenyellow;
}

.LocationType {
    color: whitesmoke;
    font-size: 20px;
}

.LocarionResidents {
    margin: 0;
    font-size: 18px;
    color: whitesmoke
}