.navBar{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    align-items: center; 
    margin-bottom: 50px;
<<<<<<< HEAD
    background: linear-gradient(to bottom, black, #16161d);
=======
>>>>>>> 3a43b6fc6e4f94001592d96706323ac2793efeeb
}

.logo{
    align-items: center;
<<<<<<< HEAD
    background: transparent;
=======
>>>>>>> 3a43b6fc6e4f94001592d96706323ac2793efeeb
}
               
.logo-img{
    height: 200px; 
    margin: 20px;
<<<<<<< HEAD
    background: transparent;
=======
>>>>>>> 3a43b6fc6e4f94001592d96706323ac2793efeeb
}

.nav-links{
    font-size: 23px;
    transform: none;
<<<<<<< HEAD
    background: transparent;
}

.link{
    
=======
}

.link{
    text-decoration: none;
>>>>>>> 3a43b6fc6e4f94001592d96706323ac2793efeeb
    padding: 20px;
    color: #02b1c8;
    margin: 30px;
    background-color: rgba(245, 141, 227, 0.2);
    border-radius: 30px;
    font-weight: bold;
    text-shadow: 0px 0px 8px rgb(0, 0, 0);;
}

.link:hover{
    color: greenyellow;
<<<<<<< HEAD
=======
    text-decoration: none;
>>>>>>> 3a43b6fc6e4f94001592d96706323ac2793efeeb
}