.navBar{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    align-items: center; 
    margin-bottom: 50px;
}

.logo{
    align-items: center;
}
               
.logo-img{
    height: 200px; 
    margin: 20px;
}

.nav-links{
    font-size: 23px;
    transform: none;
}

.link{
    text-decoration: none;
    padding: 20px;
    color: rgb(35, 221, 228);
    margin: 30px;
    background-color: rgba(245, 141, 227, 0.2);
    border-radius: 30px;
    font-weight: bold;
}

.link:hover{
    color: greenyellow;
    text-decoration: none;
}